@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

$urbanList: "Urbanist", sans-serif;
$ozWorld: "Oswald", sans-serif;
$dotGothic: "DotGothic16", sans-serif;