@import '_variables';

*{
    margin: 0;
    padding: 0;
}

.swal2-popup {
    font-family: 'Noto Sans JP', sans-serif;
}


/* 確認ボタンを大きくする */
.swal2-confirm {
    padding: 10px 40px; /* ボタンの内側余白を大きくする */
    font-size: 20px;    /* フォントサイズを大きくする */
}
  
/* キャンセルボタンを大きくする */
.swal2-cancel {
    padding: 10px 40px; /* ボタンの内側余白を大きくする */
    font-size: 20px;    /* フォントサイズを大きくする */
}

.back-button{
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  position:fixed;
  left: 0;
  right: 0;
  bottom: 60px;
  margin: auto;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  z-index: 10;
}

.background{
    position: relative;
    width: 100%;
    min-height: 100vh;
    position:fixed;
    top:0;
    left:0;
    z-index:-1;
    width:100%;
    height:100vh;
    background-repeat:no-repeat;
    background-position:center center;
    background: #fff;
    background-size: cover;
    filter: contrast(100%) saturate(200%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Noto Sans JP', sans-serif;

    .oneshot {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        margin: auto;
        z-index: 10;
        background-color: #fff;
        justify-content: center;
        font-family: $urbanList;
        text-align: center;
        align-items: center;
        .hello {
            position: absolute;
            top: 40%;
            left: 0;
            right: 0;
            margin: auto;
            font-size: 200%;
            animation: to-top 2s both;
        }

        @keyframes to-top {
            0% {
                opacity: 0;
                transform: translateY(60px);
            }
            35% {
                opacity: 1;
                transform: translateY(0);
            }
            70% {
                opacity: 1;
                transform: translateY(0);
            }
            100% {
                opacity: 0;
                transform: translateY(-60px);
            }
        }

        @keyframes to-top-fix {
            0% {
                opacity: 0;
                transform: translateY(60px);
            }
            50% {
                opacity: 1;
                transform: translateY(0);
            }
            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .welcome {
            position: absolute;
            top: 40.8%;
            left: 0;
            right: 0;
            margin: auto;
            width: 300px;
            animation: to-top-fix 2s both;
            animation-delay: 1.4s;
        }
    }

    .main {
        .rotate-disp{
            transform: rotate(90deg);
            position: absolute;
            top: 220px;
            left: -450px;
            font-size: 60px;
        }

        #video{
            position: absolute;
            z-index: -1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            /*縦横幅指定*/
            width: 56.25vh; /* 16:9 の幅→16 ÷ 9＝ 177.77% */
            height: 177.7777778vw; /* 16:9の幅 → 9 ÷ 16 = 56.25% */
            min-height: 100%;
            min-width: 100%;
        }

        .c-text {
            overflow: hidden;
            display: flex;
            width: 100vh;
            margin-inline: calc(50% - 50vw);
            transform: rotate(90deg);
            position: absolute;
            top: 435px;
            left: -365px;
          
            .c-text__item {
                flex-shrink: 0;
                white-space: nowrap;
                font-size: 120px;
                font-family: $ozWorld;
                opacity: 0.2;
    
                $seconds: 12s;
          
                &:nth-child(odd) {
                    animation: MoveLeft 24s 12s infinite linear; //24秒かけて-12秒後に無限ループさせる
                }
          
                &:nth-child(even) {
                    animation: MoveLeft2 24s infinite linear; //24秒かけて無限ループさせる
                }
            }
    
            @keyframes MoveLeft {
                from {
                  transform: translateX(100%);
                }
                to {
                  transform: translateX(-100%);
                }
            }
              
            @keyframes MoveLeft2 {
                from {
                  transform: translateX(0);
                }
                to {
                  transform: translateX(-200%);
                }
            }
              
        }

        .my_profile_card{
            width: 95vw;
            height: 520px;
            background-color: rgba(0,0,0,1);
            box-shadow: 0px 10px 10px #888888;
            border-radius: 20px;
            opacity: 0;
            top: 2vh;
            left: 0;
            right: 0;
            margin: auto;
            z-index: 10;

            position: relative;

            .profile_name{
                position: absolute;
                right: 0vw;
                top: 25px;
                width: 60vw;
                height: 70px;
                text-align: center;
                color: #fff;

                ruby{
                    margin-left: 3px;
                }

                #name{
                    font-size: 28px;
                }
            }

            .iro_iro{
                color: #fff;
                font-size: 18px;
                text-align: center;
                width: 100%;
                padding: 5px 0;

                position: absolute;
                right: 0;
                left: 0;
                top: 120px;
                border-top: 1px solid #fff;
                border-bottom: 1px solid #fff;
            }

            .follow_btn {

                position: absolute;
                right: 0;
                left: 0;
                top: 192px;
                width: 80vw;
                height: 32px;
                margin: auto;
                text-align: center;

                button {
                    padding: 5px 100px;
                    font-size: 20px;
                    text-align: center;
                    color: rgb(255, 255, 255);
                    background-color: #008cff;
                    border: 1px solid #fff;
                    border-radius: 5px;
                }
            }

            .follow_btn15 {

                position: absolute;
                right: 0;
                left: 0;
                top: 270px;
                width: 100%;
                height: 32px;
                margin: auto;
                text-align: center;

                button {
                    margin-left: 0vw;
                    padding: 5px 90px;
                    font-size: 20px;
                    text-align: center;
                    color: rgb(0, 0, 0);
                    background-color: #d59c00;
                    border: 1px solid #fff;
                    border-radius: 5px;
                }
            }

            .follow_btn19 {

                position: absolute;
                right: 0;
                left: 0;
                top: 350px;
                width: 100%;
                height: 32px;
                margin: auto;
                text-align: center;

                button {
                    margin-left: 0vw;
                    padding: 5px 82px;
                    font-size: 20px;
                    text-align: center;
                    color: rgb(255, 255, 255);
                    background-color: #dc0000;
                    border: 1px solid #fff;
                    border-radius: 5px;
                }
            }

            .follow_btn24 {

                position: absolute;
                right: 0;
                left: 0;
                top: 430px;
                width: 100%;
                height: 32px;
                margin: auto;
                text-align: center;

                button {
                    margin-left: 0vw;
                    padding: 5px 102px;
                    font-size: 20px;
                    text-align: center;
                    color: rgb(255, 255, 255);
                    background-color: #00b006;
                    border: 1px solid #fff;
                    border-radius: 5px;
                }
            }

            .follow_btn2 {

                position: absolute;
                right: 0;
                left: 0;
                top: 320px;
                width: 100%;
                height: 32px;
                justify-content: center;
                display: flex;
                flex-direction: row;
                margin: 10px 0;

                button {
                    margin: 0 10px;
                    padding: 0 30px;
                    font-size: 20px;
                    text-align: center;
                    color: rgb(0, 0, 0);
                    background-color: #ededed;
                    border: 1px solid #fff;
                    border-radius: 5px;
                }
            }

            .image img{
                position: absolute;
                width: 80px;
                height: 80px;
                top: 18px;
                left: 45px;
                border-radius: 100%;
            }
        }

        .profile{
            position: absolute;
            width: 100%;
            min-height: 100vh;
            background-color: #ffffff; /* Background color (you can change this) */
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'Noto Sans JP', sans-serif;
            flex-direction: column;
            z-index: 10;
            opacity: 1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            transform: scale(0.7,0.7);
        
            #header{
                position: absolute;
                border-bottom: solid 1px #b5b5b5;
                text-align: center;
                padding-top: 5px;
                padding-bottom: 5px;
                width: 100%;
                top :0;
                font-size: 18px;
                z-index: 2;
            }
        
            #main{
                position: relative;
                width: 100%;
                margin-top: 5vh;
                min-height: 96vh;
                background-color: #ffffff;
        
                

                .mvv{
                    width: 100%;
                    text-align: center;
                    font-size: 3.8vw;

                    .description{
                        margin-top: 25px;
                    }
                }
        
                .image img{
                    width: 100%;
                    margin: 30px 0;
                }
            }
        
            #descriptions{
                position: absolute;
                border-top: solid 1px #b5b5b5;
                text-align: center;
                padding-top: 5px;
                padding-bottom: 5px;
                width: 100%;
                top :240px;
                font-size: 18px;
        
                .description{
                    padding-bottom: 5px;
                    border-bottom: solid 1px #b5b5b5;
                }
        
                .description_txt{
                    margin-top: 10px;
                    margin-left: 10px;
                    font-size: 16px;
                    text-align: left;
                    background-color: #fff;
                }
        
                .followers{
                    border-bottom: solid 1px #b5b5b5;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    padding-bottom: 5px;
        
                    .dontknow{
                        margin-right: 30px;
                    }
        
                    .know{
                        margin-left: 30px;
                    }
        
                    b{
                        font-size: 12px;
                    }
                }
        
                .post{
        
                    display: flex;
                    justify-content: center;
                    .icon-circle{
                        margin-left: 4vh;
                        margin-top: 40px;
                        border-radius: 100%;
                        border: 1px solid;
                        width: 130px;
                        height: 130px;
                        vertical-align: middle;
                        
                        .icon{
                            margin-top: 38px;
                        }
                    }
        
                    .notfoundtext{
                        margin-top: 15px;
                        font-size: 24px;
                    }
                }
            }
        }
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans JP', sans-serif;

    p{
        font-size: 18px;
    }
  
    .modal-content {
        background: white;
        width: 90%;
        padding: 20px 0;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin: 0;
    }

    .nuxt-modal-btn{
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 100%;
        margin-top: 20px;
        
        button {
            padding: 5px 10.5vw;
            font-size: 20px;
            text-align: center;
            color: rgb(0, 0, 0);
            background-color: #ededed;
            border: 1px solid #fff;
            border-radius: 5px;
        }

        .true{
            color: rgb(255, 255, 255);
            background-color: #008cff;
            border: 1px solid #fff;
        }
    }
}
